<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to Social Bookmarking Web Application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Welcome to Social Bookmarking Web Application!</h1>
            <h1>Homepage</h1>
        </div>
        <div>
            <div class="form-group row">
                <label class="col-form-label col-4">Search post:</label>
                <div class="col-8">
                    <input type="text" class="form-control"
                           minlength="2" maxlength="20"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>