<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to Social Bookmarking Web Application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Welcome to Social Bookmarking Web Application</h1>
        </div>
        <div>
            <h3><a th:href=" ">This application is prepared within the scope of SWE573 course.</a></h3>
            <h3><a th:href="@{/register}">Register</a></h3>
            <h3><a th:href="@{/login}">Login</a></h3>
        </div>
    </div>
</body>
</html>