<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <center>

        <h3>My Profile {{fname}}!</h3>
        {% block title %}Profile Page{% endblock title %}
        {% block content %}
            <div class="row my-3 p-3">
                <h1>This is the profile page for {{user.username}}</h1>
            </div>
        
        {% endblock content %}
        
        <p>
            <button type="submit"> <a href="/setprofile"> Change my Profile</a></button>
            <button type="submit"> <a href="/"> Go to Homepage</a></button>
        </p>

        </center>

        <script src="" async defer></script>
    </body>
</html>