<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="=button" class="close" data-dismiss="alert" aria-label="Close">
        ><span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <center>
            
            <h1 style="color:black;">Login to Socall!</h1>
            <br>
    
                <form action="/signin" method="post"> 
                {% csrf_token %}            
                  <div class="form-group row justify-content-center">
                    <label for="username" class="col-sm-1 col-form-label">Username</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Please enter your user name" required >
                    </div>
                  </div>   
                  <div class="form-group row justify-content-center">
                    <label for="pass1" class="col-sm-1 col-form-label">Password</label>
                    <div class="col-sm-2">
                      <input type="password" class="form-control id="pass1" name="pass1" placeholder="Please enter your password" required>
                    </div>                
                  </div>
                  <button type="submit" class="d-inline-block">Sign Up</button>
                </form>
                <br>                
                <form action="/signup"> 
                {% csrf_token %}
                    <button type="submit"class="d-inline-block">Create an Account</button> 
                </form>

         </center>

        <script src="" async defer></script>
    </body>
</html>